$dark-color: rgba(255, 255, 255, 0.65);
$zindex-affix: 10;
$primary-color: #2d8cf0;
$body-background: #fff;
$font-size-base: 14px;
$background-color-header: #0B203C;
$dark-background-color-header: #151A23;
$absolute: absolute;
$border-radius-small: 4px;
$dark-primary-color: #4B8FF3;
$font-size-large: 16px;